.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-item
      .side_bar__user-name__top-item__name
        taky
      .side_bar__user-name__top-item__icon
        = link_to "#", class: "" do
          = icon("far", "edit", class: "")
        = link_to "#", class: "" do
          = icon("fas", "cog", class: "")

  .side_bar__group-list
    .side_bar__group-list__group-names
      .side_bar__group-list__group-names__name
        テックエキスパート1
      .side_bar__group-list__group-names__text
        まだメッセージがありません

      .side_bar__group-list__group-names__name
        テックエキスパート2
      .side_bar__group-list__group-names__text
        まだメッセージがありません

      .side_bar__group-list__group-names__name
        テックエキスパート3
      .side_bar__group-list__group-names__text
        まだメッセージがありません

